RewriteEngine On
RewriteCond %{REQUEST_URI} /basis_js_php/php_crud
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ %{DOCUMENT_ROOT}/basis_js_php/php_crud/index.html [QSA,L]