.ViewPort {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .Form {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: min(100%, 320px);
    padding-bottom: 15px;
    .Content {
      .ChangePage {
        margin-top: min(2%, 10px);
        text-align: center;
        width: 100%;
        a {
          cursor: pointer;
        }
      }
      .Error {
        color: red;
        text-align: center;
      }
      margin: 2%;
      font-family: "Sono", sans-serif;
      .Separator {
        margin-top: min(100%, 5%);
        margin-bottom: min(100%, 5%);
      }
      .Login {
        display: flex;
        justify-content: center;
        width: 100%;
        button {
          background-color: #008cba;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }
      }
      .Input {
        margin-top: min(100%, 5%);
        .Label {
          font-size: larger;
        }
        input {
          padding: 8px;
          display: block;
          border: none;
          border-bottom: 2px solid #ccc;
          width: 90%;
          margin-left: min(100%, 3%);
        }
      }
    }
    @media (prefers-color-scheme: dark) {
      color: #f6f7f5;
      background-color: #252639;
    }
  }
}
