.ViewPort {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .Content {
    width: min(95%, 500px);
    padding: min(2%, 15px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    .Title {
      margin: 2%;
      font-family: "Sono", sans-serif;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #ddd;
      th {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
        &:first-child {
          width: 80%;
        }
        &:last-child {
          width: 20%;
        }
        .AcceptButton {
          background-color: #4caf50;
          color: white;
          border: none;
          padding: 2px;
          text-decoration: none;
          margin: 4px 2px;
          cursor: pointer;
          &:hover {
            background-color: #3e8e41;
          }
        }
      }
    }
    @media (prefers-color-scheme: dark) {
      color: #f6f7f5;
      background-color: #252639;
    }
  }
}
